<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta
      http-equiv="Content-Type"
      content="application/xhtml+xml; charset=UTF-8"
    />
    <title>{{.Title}} - Stream Deck Controller</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
  </head>
  <body>
    <div id="header">
      <div id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/devices">Devices</a></li>
          <li><a href="/profiles">Profiles</a></li>
          <li><a href="/settings">Settings</a></li>
        </ul>
      </div>
    </div>

    <div id="content">{{.Content}}</div>

    <div id="footer">
      <p>Stream Deck Controller for Linux</p>
    </div>

    <script type="text/javascript" src="/assets/js/main.js"></script>
  </body>
</html>
